<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589785529975-ptq1u21msf0kt6uora4ce6ojicic1p7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589785529975-ptq1u21msf0kt6uora4ce6ojicic1p7t</string>
	<key>BUNDLE_ID</key>
	<string>com.shadman.VetDict</string>
	<key>PROJECT_ID</key>
	<string>vetdict-plus</string>
	<key>GCM_SENDER_ID</key>
	<string>589785529975</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:589785529975:ios:0000000000000000</string>
	<key>API_KEY</key>
	<string>not-used</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
</dict>
</plist>
